In [1]:
import pandas as pd
import numpy as np

In [2]:

s = pd.read_csv("https://raw.githubusercontent.com/AP-Skill-Development-Corporation/DataScienceUsingPython-Internship-SRM-University/main/Datasets/Datasets-master/Regression/age_salary_hours.csv")
s.head()

   Age  Annual Salary  Weekly hours                    Education
0   72       160000.0          40.0  Bachelor's degree or higher
1   72       100000.0          50.0  Bachelor's degree or higher
2   31       120000.0          40.0  Bachelor's degree or higher
3   28        45000.0          40.0  Bachelor's degree or higher
4   54        85000.0          40.0  Bachelor's degree or higher

In [3]:
s.shape

(500, 4)

In [4]:
s.isnull().sum()

Age              0
Annual Salary    0
Weekly hours     0
Education        0
dtype: int64

In [5]:
x = s[["Age"]]
x.head()

   Age
0   72
1   72
2   31
3   28
4   54

In [6]:
y = s["Weekly hours"]
y.head()

0    40.0
1    50.0
2    40.0
3    40.0
4    40.0
Name: Weekly hours, dtype: float64

In [7]:
from sklearn.linear_model import LinearRegression
l_model = LinearRegression()
l_model.fit(x, y)

LinearRegression()

In [8]:
predicted = l_model.predict(x)
predicted

array([18.06802824, 18.06802824, 37.51243005, 38.93519116, 26.60459489,
       30.87287821, 12.37698381, 18.54228194, 19.96504305, 30.39862451,
       24.23332638, 16.64526713, 27.07884859, 27.07884859, 41.30645967,
       42.72922078, 22.81056527, 11.90273011, 33.24414673, 29.92437081,
       34.66690783, 34.66690783, 36.08966894, 36.08966894, 30.39862451,
       40.35795227, 42.25496708, 33.24414673, 31.34713192, 34.19265413,
       21.38780416, 31.82138562, 21.38780416, 35.61541524, 10.0057153 ,
       25.65608748, 26.60459489, 28.9758634 , 17.11952084, 19.01653565,
       35.61541524, 37.51243005, 26.13034119, 26.60459489, 17.59377454,
       14.27399862, 41.30645967, 30.87287821, 30.87287821, 33.24414673,
       10.9542227 , 10.0057153 , 24.23332638, 33.24414673, 22.81056527,
       24.23332638, 20.43929676,  7.16019308, 36.08966894, 34.19265413,
       30.87287821, 33.24414673, 18.06802824, 18.06802824, 26.60459489,
       26.60459489, 33.71840043, 42.72922078, 37.98668375, 38.46093746,
       15.69675973, 28.5016097 , 42.25496708, 14.27399862, 15.69675973,
       22.81056527, 13.32549122, 30.39862451, 19.96504305, 36.08966894,
       37.98668375, 38.93519116, 40.35795227, 40.83220597, 40.83220597,
       19.01653565, 19.01653565, 42.25496708, 41.78071337, 21.38780416,
       21.38780416, 28.5016097 , 25.65608748, 37.98668375, 32.29563932,
       33.71840043, 33.71840043, 27.07884859, 31.82138562, 30.39862451,
       26.13034119, 28.027356  , 32.29563932, 35.14116154, 38.93519116,
       39.40944486, 35.14116154, 38.46093746, 18.06802824, 16.64526713,
       36.56392264, 13.79974492, 15.69675973, 25.65608748, 22.81056527,
       18.06802824, 37.03817635, 34.19265413, 20.43929676, 20.43929676,
       23.28481897, 21.38780416, 41.78071337, 21.86205786, 14.27399862,
       35.14116154, 25.18183378, 23.28481897, 16.17101343, 23.75907267,
       20.43929676, 28.5016097 , 30.39862451, 43.67772818, 28.027356  ,
       28.5016097 , 24.70758008, 22.33631157, 38.46093746, 37.98668375,
       37.98668375, 32.29563932, 35.61541524, 32.76989302, 25.18183378,
       22.81056527, 19.49078935, 24.23332638, 24.70758008, 34.66690783,
       35.14116154, 22.33631157, 21.86205786, 25.18183378, 20.43929676,
       33.71840043, 42.72922078, 41.30645967, 32.29563932, 43.20347448,
       21.86205786, 21.86205786, 31.34713192, 23.28481897, 26.13034119,
       31.82138562, 28.9758634 , 24.23332638, 24.70758008, 24.23332638,
       40.35795227, 17.59377454, 18.06802824, 14.27399862, 28.027356  ,
       32.29563932, 32.76989302, 26.13034119, 15.69675973, 34.19265413,
       35.61541524, 38.46093746, 38.46093746, 24.70758008, 32.29563932,
       24.70758008, 33.24414673, 40.83220597, 29.92437081, 24.70758008,
       40.83220597, 37.03817635, 37.03817635, 24.23332638, 27.55310229,
       41.30645967, 35.61541524, 36.08966894, 22.81056527, 22.33631157,
       21.86205786, 39.40944486, 41.30645967, 31.34713192, 32.76989302,
       34.66690783, 32.76989302, 21.38780416, 16.17101343, 25.18183378,
       37.98668375, 34.19265413, 33.71840043, 25.65608748, 20.43929676,
       21.86205786, 16.64526713, 11.4284764 , 32.29563932, 29.45011711,
       29.92437081, 15.69675973, 24.70758008, 22.81056527, 41.78071337,
       22.81056527, 30.87287821, 16.64526713, 16.64526713, 30.39862451,
       20.91355046, 21.86205786, 29.92437081, 28.027356  , 23.75907267,
       37.98668375, 40.35795227, 41.30645967, 31.82138562, 36.56392264,
       36.08966894, 29.92437081, 29.92437081, 23.75907267, 24.70758008,
       41.30645967, 13.79974492, 16.17101343, 16.64526713, 22.33631157,
       25.65608748, 37.98668375, 18.06802824,  7.16019308, 19.96504305,
       23.28481897, 23.75907267, 16.17101343, 25.18183378, 37.51243005,
       21.86205786, 20.91355046, 21.86205786, 24.23332638, 37.98668375,
       38.93519116, 33.24414673, 40.83220597, 41.30645967, 41.30645967,
       17.59377454, 17.11952084, 11.4284764 , 10.479969  , 23.75907267,
       40.83220597, 25.65608748, 39.88369856, 39.40944486, 39.88369856,
       29.92437081, 35.61541524, 33.24414673, 27.07884859, 34.19265413,
       36.56392264, 37.98668375, 19.49078935, 31.34713192, 28.5016097 ,
       24.23332638, 38.93519116, 22.33631157, 41.30645967, 28.5016097 ,
       36.08966894, 22.33631157, 20.91355046, 36.08966894,  9.05720789,
       30.39862451, 30.39862451, 38.93519116, 11.90273011, 24.70758008,
       14.74825232, 23.28481897, 23.75907267, 16.64526713, 36.56392264,
       35.61541524, 22.33631157, 14.74825232, 27.55310229, 13.79974492,
       14.27399862, 24.23332638, 25.18183378, 25.65608748, 23.75907267,
       27.55310229, 25.65608748, 24.23332638, 21.86205786, 33.71840043,
       26.13034119, 18.06802824, 32.29563932, 33.71840043, 21.38780416,
       20.91355046, 40.35795227, 37.98668375, 31.82138562, 28.9758634 ,
       19.01653565, 32.76989302, 33.24414673, 19.49078935, 19.96504305,
       19.01653565, 19.01653565, 19.96504305, 19.96504305, 16.17101343,
       22.33631157, 28.5016097 , 39.88369856, 10.0057153 , 30.87287821,
       38.93519116, 37.03817635, 27.07884859, 30.39862451, 43.20347448,
       34.66690783, 35.61541524, 36.56392264, 26.13034119, 28.5016097 ,
       42.72922078, 28.027356  , 26.13034119, 27.55310229, 39.40944486,
       40.35795227, 23.28481897, 20.91355046, 31.34713192, 33.71840043,
       24.70758008, 22.81056527, 27.07884859, 26.13034119, 26.60459489,
       24.23332638, 23.75907267, 40.83220597, 38.46093746, 38.93519116,
       37.03817635, 35.61541524, 17.59377454, 22.33631157, 31.34713192,
       21.38780416, 23.75907267, 35.61541524, 37.98668375, 18.54228194,
       18.06802824, 37.51243005, 35.61541524, 22.81056527, 36.56392264,
       37.51243005, 24.70758008, 22.81056527, 39.40944486, 29.92437081,
       28.9758634 , 32.29563932, 32.76989302, 18.06802824, 18.54228194,
       40.83220597, 16.17101343, 20.43929676, 18.54228194, 29.92437081,
       21.86205786, 28.5016097 , 16.64526713, 17.11952084, 31.34713192,
       42.72922078, 25.65608748, 26.60459489, 27.55310229, 27.07884859,
       10.479969  , 12.37698381, 26.60459489, 18.06802824, 12.37698381,
       34.66690783, 34.19265413, 22.81056527, 17.11952084, 37.03817635,
       37.51243005, 38.46093746, 35.14116154, 30.39862451, 34.66690783,
       34.66690783, 28.9758634 , 30.39862451, 15.69675973, 23.75907267,
       14.74825232, 20.43929676, 23.28481897, 37.03817635, 41.30645967,
       35.61541524, 36.56392264, 41.78071337, 42.72922078, 20.43929676,
       19.96504305, 37.03817635, 36.56392264, 16.17101343, 28.5016097 ,
       41.30645967, 39.88369856, 39.40944486, 42.25496708, 42.25496708,
       42.25496708, 28.5016097 , 24.23332638, 19.01653565, 19.01653565,
       35.14116154, 24.23332638, 25.18183378, 37.98668375, 38.46093746,
       27.55310229, 27.55310229, 40.35795227, 41.78071337, 23.75907267,
       24.70758008, 16.64526713, 28.027356  , 37.03817635, 30.87287821,
       30.87287821, 33.24414673, 41.30645967, 29.92437081, 30.87287821,
       44.15198189, 26.13034119, 27.07884859, 37.03817635, 39.40944486,
       24.70758008, 32.29563932, 30.39862451, 12.85123751, 31.34713192,
       39.40944486, 27.07884859, 28.027356  , 37.03817635, 43.67772818])

In [9]:
x.loc[100]

Age    55
Name: 100, dtype: int64

In [10]:
y.loc[100]

50.0

In [11]:
l_model.predict([[55]])

array([26.13034119])

In [12]:
from sklearn.metrics import r2_score
r2_score(y, predicted) * 100

17.641761291331616

In [13]:
y.min()

0.0

In [14]:
y.max()

99.0

In [15]:
y = l_model.coef_*x.loc[100] + l_model.intercept_
y

Age    26.130341
Name: 100, dtype: float64

In [16]:
x.loc[100]

Age    55
Name: 100, dtype: int64

In [17]:
l_model.predict([[55]])

array([26.13034119])

In [18]:
s = pd.read_csv("https://raw.githubusercontent.com/AP-Skill-Development-Corporation/DataScienceUsingPython-Internship-SRM-University/main/Datasets/Datasets-master/Regression/age_salary_hours.csv")
s.head()

   Age  Annual Salary  Weekly hours                    Education
0   72       160000.0          40.0  Bachelor's degree or higher
1   72       100000.0          50.0  Bachelor's degree or higher
2   31       120000.0          40.0  Bachelor's degree or higher
3   28        45000.0          40.0  Bachelor's degree or higher
4   54        85000.0          40.0  Bachelor's degree or higher

In [19]:
x = s[["Age","Annual Salary"]]
x

     Age  Annual Salary
0     72       160000.0
1     72       100000.0
2     31       120000.0
3     28        45000.0
4     54        85000.0
..   ...            ...
495   27        47000.0
496   53       132000.0
497   51        10100.0
498   32        57000.0
499   18        18700.0

[500 rows x 2 columns]

In [20]:

y = s["Weekly hours"]
y

0      40.0
1      50.0
2      40.0
3      40.0
4      40.0
       ...
495    40.0
496    70.0
497    20.0
498    35.0
499    20.0
Name: Weekly hours, Length: 500, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 30)

In [22]:
l_model = LinearRegression()
l_model.fit(x_train, y_train)

LinearRegression()

In [23]:
predicted = l_model.predict(x_test)
predicted

array([34.43248909, 38.59576928, 37.2500884 ,  6.81783619, 34.54626967,
       31.19151029, 33.86358618, 41.73569132, 38.74102586, 21.6203258 ,
       34.18935669, 23.3449195 , 16.2376023 , 29.1566506 , 50.81378215,
       36.54282449, 14.89192143, 37.22484089, 36.8713757 , 17.13472288,
       37.31993599, 37.00708943, 38.04621893, 39.76471756, 12.64911997,
       14.44336114,  9.95775822, 38.66561687, 23.86312725, 39.42039498,
       11.75199939, 40.61723806, 42.18425161, 44.18047288, 82.97532226,
       26.9332017 , 29.80129604,  9.50919793, 16.2376023 , 33.80686266,
       41.29302597, 10.40631852, 16.68616259, 39.10761512, 38.36197962,
       37.00384176, 36.63758605, 28.94877554, 28.34873017, 38.83300672,
       31.34306208, 28.35462512, 35.97425512, 11.75199939, 16.2376023 ,
       26.55543662, 13.14817529, 36.62479552, 26.16894743, 36.83956615,
       36.28378732, 25.10125604, 33.73145366, 30.48397953, 31.77916538,
       18.48040376, 25.41701673, 10.85487881, 27.00304929, 28.10214998,
       12.20055968, 24.01461233, 35.11801999, 45.55140127, 35.97425512,
       16.62287704, 28.95467049, 33.78784364, 22.96600667, 31.64603224,
        7.71495677, 29.15075565, 26.2888898 , 13.54624055, 25.98883376,
       20.27464492, 34.97601107, 37.20920295, 25.20880813, 29.40323078,
       31.74112734, 14.89192143, 15.84887978, 17.79149178, 36.8831656 ,
       28.99927057, 27.45160958, 37.99572391, 38.52002674, 32.38577279])

In [24]:
r2_score(y_test, predicted) * 100

34.6552358292705

In [25]:
l  = list(x_train.iloc[20])
l

[60.0, 0.0]

In [26]:

y_train.loc[20]

40.0

In [27]:

l_model.predict([l])

array([19.37752434])